# EDA notebook

The main objective of this notebook is to do a full exploratory data analysis and data audit.   
We are going to look into the main parts of the data such as:
- Missing data
- Structure of the data
- Make different plots
- Format of the data

In [2]:
import pandas as pd
import seaborn as sns

In [4]:
data = pd.read_csv("../data/Digital_Payment_Fraud_Detection_Dataset.csv")
data.head()

,transaction_id,user_id,transaction_amount,transaction_type,payment_mode,device_type,device_location,account_age_days,transaction_hour,previous_failed_attempts,avg_transaction_amount,is_international,ip_risk_score,login_attempts_last_24h,fraud_label
0,T1,U3756,18758.28,Transfer,UPI,Web,Hyderabad,895,14,1,25535.84,0,0.718,4,0
1,T2,U7899,47538.18,Payment,Wallet,iOS,Hyderabad,918,21,0,3955.85,0,0.525,9,0
2,T3,U1765,36613.10,Payment,Card,Android,Chennai,1506,8,4,22727.71,0,0.985,9,0
3,T4,U8850,29952.99,Payment,Wallet,iOS,Chennai,800,1,3,18095.89,0,0.797,2,0
4,T5,U9049,7843.13,Payment,UPI,Web,Delhi,301,4,1,9317.49,1,0.468,1,0

In [5]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   transaction_id            7500 non-null   str
 1   user_id                   7500 non-null   str
 2   transaction_amount        7500 non-null   float64
 3   transaction_type          7500 non-null   str
 4   payment_mode              7500 non-null   str
 5   device_type               7500 non-null   str
 6   device_location           7500 non-null   str
 7   account_age_days          7500 non-null   int64
 8   transaction_hour          7500 non-null   int64
 9   previous_failed_attempts  7500 non-null   int64
 10  avg_transaction_amount    7500 non-null   float64
 11  is_international          7500 non-null   int64
 12  ip_risk_score             7500 non-null   float64
 13  login_attempts_last_24h   7500 non-null   int64
 14  fraud_label               7500 non-null   int64
dtypes: float64(3), int64(6), str(6)
memory usage: 879.0 KB

From this code we can see there is no missing data and the data is correctly formatted

## Analysis of Traget feature